@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased transition-colors duration-300;
}
/* In your globals.css or tailwind.css */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-10px); }
  100% { opacity: 1; transform: translateY(0); }
}

html {
  scroll-behavior: smooth;
}

.animate-fadeIn {
  animation: fadeIn 0.5s forwards;
}

 

@media (prefers-color-scheme: dark) {
   
}
 